policy_module(privora, 1.100.1)

########################################
#
# Declarations
#

type privora_t;
type privora_exec_t;
init_daemon_domain(privora_t, privora_exec_t)

permissive privora_t;

type privora_initrc_exec_t;
init_script_file(privora_initrc_exec_t)

type privora_conf_t;
files_type(privora_conf_t)

type privora_var_lib_t;
files_type(privora_var_lib_t)

type privora_var_run_t;
files_type(privora_var_run_t)

type privora_port_t;
corenet_port(privora_port_t)

########################################
#
# privora local policy
#
allow privora_t self:process { fork };

allow privora_t self:fifo_file rw_fifo_file_perms;
allow privora_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(privora_t, privora_conf_t, privora_conf_t)
manage_files_pattern(privora_t, privora_conf_t, privora_conf_t)

manage_dirs_pattern(privora_t, privora_var_lib_t, privora_var_lib_t)
manage_files_pattern(privora_t, privora_var_lib_t, privora_var_lib_t)
files_var_lib_filetrans(privora_t, privora_var_lib_t, { dir file })

manage_dirs_pattern(privora_t, privora_var_run_t, privora_var_run_t)
manage_files_pattern(privora_t, privora_var_run_t, privora_var_run_t)

sysnet_dns_name_resolve(privora_t)
corenet_all_recvfrom_unlabeled(privora_t)

allow privora_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(privora_t)
corenet_tcp_sendrecv_generic_node(privora_t)
corenet_tcp_sendrecv_all_ports(privora_t)
corenet_tcp_bind_generic_node(privora_t)

gen_require(`
    type privora_port_t;
')
allow privora_t privora_port_t:tcp_socket name_bind;

gen_require(`
    type privora_port_t;
')
allow privora_t privora_port_t:tcp_socket name_connect;

domain_use_interactive_fds(privora_t)

files_read_etc_files(privora_t)

miscfiles_read_localization(privora_t)

sysnet_dns_name_resolve(privora_t)

allow privora_t privora_exec_t:file execute_no_trans;
allow privora_t self:process setsched;
corecmd_exec_ls(privora_t)
corenet_tcp_connect_http_port(privora_t)
dev_read_urand(privora_t)
fs_getattr_xattr_fs(privora_t)
kernel_read_system_state(privora_t)
