
## <summary>policy for privora</summary>


########################################
## <summary>
##	Transition to privora.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`privora_domtrans',`
	gen_require(`
		type privora_t, privora_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, privora_exec_t, privora_t)
')


########################################
## <summary>
##	Execute privora server in the privora domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`privora_initrc_domtrans',`
	gen_require(`
		type privora_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, privora_initrc_exec_t)
')


########################################
## <summary>
##	Search privora lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`privora_search_lib',`
	gen_require(`
		type privora_var_lib_t;
	')

	allow $1 privora_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read privora lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`privora_read_lib_files',`
	gen_require(`
		type privora_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, privora_var_lib_t, privora_var_lib_t)
')

########################################
## <summary>
##	Manage privora lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`privora_manage_lib_files',`
	gen_require(`
		type privora_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, privora_var_lib_t, privora_var_lib_t)
')

########################################
## <summary>
##	Manage privora lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`privora_manage_lib_dirs',`
	gen_require(`
		type privora_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, privora_var_lib_t, privora_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an privora environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`privora_admin',`
	gen_require(`
		type privora_t;
		type privora_initrc_exec_t;
		type privora_var_lib_t;
	')

	allow $1 privora_t:process { ptrace signal_perms };
	ps_process_pattern($1, privora_t)

	privora_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 privora_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, privora_var_lib_t)

')

